<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Zenitek" %></title>

    <%= stylesheet_link_tag "normalize", "bootstrap", "ionicons", "font-awesome", "source/jquery.fancybox", "animations.min", "style-solid-black" %>
  </head>

  <body class="<%= page_classes %>" data-spy="scroll" data-target="#menu-section">

    <!--MENU SECTION START-->
    <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#menu-section">zenitek</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#work">Livres</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
    <!--MENU SECTION END-->

    <%= yield %>

    <!--CONTACT SECTION START-->
    <section id="contact" >
      <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Contact</h3><hr />
          </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>zenigata.fr</h3>
              <p>
                D'autres sites qui me sont bien utiles.
              </p>
              <div class="social-below">
                <a href="http://zenigata.fr/" class="btn button-custom btn-custom-two">Blog</a>
                <a href="http://typo.zenigata.fr/" class="btn button-custom btn-custom-two">Typo</a>
                <a href="http://citation.zenigata.fr/" class="btn button-custom btn-custom-two">Citations</a>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>Une remarque&nbsp;?</h3>
              <h4><strong>Email : </strong><a href="mailto:admin@zenigata.fr">admin@zenigata.fr</a></h4>
              <h4><strong>SensCritique : </strong><a href="http://www.senscritique.com/Zenigata">Zenigata</a></h4>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>Address : </h3>
              <h4>230/45 , New way Lane , </h4>
              <h4>United States</h4>
              <div class="footer-div">
                &copy; 2015 YourDomain | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrp</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--CONTACT SECTION END-->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
    <%= javascript_include_tag "jquery-1.11.1", "bootstrap", "jquery.vegas.min", "jquery.easing.min", "jquery.fancybox", "jquery.isotope", "appear.min", "animations.min", "custom-solid" %>

  </body>
</html>
